<mat-toolbar class="example-toolbar">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span>Task Managar</span>
    <span class="example-spacer">
     
    </span>
    <mat-icon>
      <a href="dashboard">task</a>
    </mat-icon>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>login</mat-icon>
    </button>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"> -->
      <mat-icon>
        <a routerLink="register">app_registration</a>
      </mat-icon>
    <!-- </button> -->
  </mat-toolbar>
  