<nav class="navbar navbar-expand-lg navbar-light bg-light  navbar-custom">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" 
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarNav">
            <ul class="navbar-nav justify-content-center me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="product">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bestsellers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inspirations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>

            </ul>
            <!-- <a class="btn btn-outline-light btn-download" href="#">Download App</a> -->
            <!-- <a class="btn btn-outline-dark" href="#">User</a> -->
        </div>
    </div>
</nav>
