<div class="body row">
    <!-- Sidebar -->
<div class="col-md-3 col-lg-2 d-md-block bg-light sidebar" >
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
        <div class="position-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link " routerLink="add-user">
                <i class="fas fa-user-plus"></i>
                Add User
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="view-user">
                <i class="fas fa-users"></i>
                View User
              </a>
            </li>
          </ul>
        </div>
      </nav>
</div>
  <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <router-outlet></router-outlet>
  </div>

</div>