*{
    margin: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
.custom_table{
    overflow: scroll;
}

thead {
    background-color: #ff8c00;
    color: white;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Responsive table */
@media (max-width: 600px) {
    table {
        font-size: 14px;
    }
}