<div class="body">
  <!-- Sidebar and Content -->
  <!-- <input type="checkbox" id="sidebarCollapse" value="hbhjh"> -->

  <div class="sidebar p-3">
    <div class="sidebar-header">

    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" routerLink="dashboard">
          <i class="bi bi-house-door"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="register1">
          <i class="bi bi-people"></i> <span>Add Users</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" >
          <i class="bi bi-envelope"  ></i> <span>Messages</span>
        </a>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link" href="#">
        <i class="bi bi-gift"></i> <span>Rewards</span>
      </a> -->
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="bi bi-bar-chart"></i> <span>Feedback</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <i class="bi bi-gear"></i> <span>Settings</span>
        </a>
      </li>

    </ul>
    <div class="collapse1"> <label for="sidebarCollapse" class="btn btn-outline-primary">></label></div>
  </div>

</div>