<div class="body">  
    <div class="container mt-5 ">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center mb-4">{{registration}}</h2>
                <!-- <form> -->
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input type="text" class="form-control" id="firstName" placeholder="{{firstNameValue}}" required>
                    </div>
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input type="text" class="form-control" id="lastName" placeholder="{{lastNameValue}}" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Email address</label>
                        <input type="email" class="form-control" id="email" placeholder="{{emailValue}}" required>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="{{passwordValue}}" required>
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your password" required>
                    </div>
                    <button type="submit" (click)="register()" class="btn btn-primary btn-block">Register</button>
                <!-- </form> -->
            </div>
        </div>
    </div>


</div>