<section class="body" >   
<div class="register-container">
    <div class="register-header">
        <h2>Register</h2>
        <p>Create your account. It's free and only takes a minute.</p>
    </div>
    <form  [formGroup]="loginForm" (ngSubmit)="validateData()">
        <div class="row mb-3">
            <div class="col">
                <input type="text" formControlName="fname" class="form-control" placeholder="First Name"
 >
            </div>
            <div class="col">
                <input type="text" formControlName="lname"  class="form-control" placeholder="Last Name"
                [class.is-invalid]="loginForm.get('lname')?.invalid && (loginForm.get('lname')?.touched)" >
            </div>
        </div>  
        <div class="mb-3">
            <input type="email" class="form-control" formControlName="email" placeholder="Email"
            [class.is-invalid]="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched)" >
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="mb-3">
            <input type="password" class="form-control"  formControlName="conPassword" placeholder="Confirm Password"
            [class.is-invalid]="loginForm.get('conPassword')?.invalid && (loginForm.get('conPassword')?.touched)">
            
        </div>

        <button type="submit" class="btn btn-register btn-block w-100">Register Now</button>
    </form>
</div>

</section>