<section class=".body d-flex justify-content-center align-items-center">
    <div class="container register-container">
        <div class="register-header text-center">
            <h2>Candidate</h2>
            <p>Create Candidate's Account</p>
        </div>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
                <label for="fname">Name:</label>
                <input type="text" id="fname" class="form-control" placeholder="Full Name" formControlName="fname" >
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" class="form-control" placeholder="Email" formControlName="email">
            </div>
            <div class="form-group">
                <label for="phone">Phone Number:</label>
                <input type="number" id="phone" class="form-control" placeholder="Phone Number" formControlName="phone">
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth:</label>
                <input type="date" id="dob" class="form-control" formControlName="dob">
            </div>
            <div class="form-group">
                <label for="qualification">Qualification:</label>
                <select id="qualification" class="form-control" formControlName="qualification">
                    <option>Default select</option>
                    <option value="10th/SSLC">10th/SSLC</option>
                    <option value="12th/HSC">12th/HSC</option>
                    <option value="Graduation">Graduation</option>
                    <option value="Post Graduation">Post Graduation</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="degree">Degree:</label>
                <select id="degree" class="form-control" formControlName="degree">
                    <option>Default select</option>
                    <option value="M.Tech">M.Tech</option>
                    <option value="B.Tech">B.Tech</option>
                    <option value="MBA">MBA</option>
                    <option value="BBA">BBA</option>
                    <option value="MCA">MCA</option>
                    <option value="BCA">BCA</option>
                    <option value="M.Sc">M.Sc</option>
                    <option value="B.Sc">B.Sc</option>
                    <option value="M.Ed">M.Ed</option>
                    <option value="B.Ed">B.Ed</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="stream">Stream:</label>
                <select id="stream" class="form-control" formControlName="stream">
                    <option value="">Default select</option>
                    <option value="Science">Science</option>
                    <option value="Commerce">Commerce</option>
                    <option value="Arts">Arts</option>
                    <option value="ECE">Electronics and Communication Engineering</option>
                    <option value="ME">Mechanical Engineering</option>
                    <option value="EEE">Electrical and Electronics Engineering</option>
                    <option value="CE">Civil Engineering</option>
                    <option value="CSE">Computer Science and Engineering</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>Percentage/CGPA:</label>
                <div class="form-check">
                    <input type="radio" id="percentage" name="select" value="percentage" class="form-check-input" formControlName="select" >
                    <label for="percentage" class="form-check-label">Percentage</label>
                </div>
                <div class="form-check">
                    <input type="radio" id="cgpa" name="select" value="cgpa" class="form-check-input"formControlName="select" >
                    <label for="cgpa" class="form-check-label">CGPA</label>
                </div>
            </div>
            <div class="form-group" *ngIf="selectedOption === 'percentage'">
                <label for="percentage">Enter Percentage:</label>
                <input type="number" id="percentage" name="percentage" class="form-control" formControlName="percentage">
            </div>
            <div class="form-group" *ngIf="selectedOption === 'cgpa'">
                <label for="cgpa">Enter CGPA:</label>
                <input type="number" id="cgpa" name="cgpa" class="form-control" formControlName="cgpa">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" id="termsCheck" class="form-check-input">
                <label for="termsCheck" class="form-check-label">I accept the above data are CORRECT and VERIFIED</label>
            </div>
            <button type="submit" class="btn btn-register btn-block">Add Candidate</button>
            <button type="submit" class="btn btn-register btn-block" (click)="updateCandidate()">Update Candidate</button>

        </form>
    </div>
</section>