.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(to right, #8e2de2, #ed8517da);
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.form-control {
    background: #f7f7f7;
    border: none;
    border-radius: 4px;
    height: 50px;
    font-size: 1rem;
    padding-left: 40px;
}

.form-control::placeholder {
    color: #bbb;
}

.input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #bbb;
}

.btn-primary {
    background: linear-gradient(to right, #56ccf2, #2f80ed);
    border: none;
    border-radius: 30px;
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    transition: background 0.3s ease;
}

.btn-primary:hover {
    background: linear-gradient(to right, #2f80ed, #56ccf2);
}

.forgot-password {
    text-align: right;
    font-size: 0.875rem;
    margin-top: 10px;
}

.social-login {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.social-login a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f7f7f7;
    text-align: center;
    line-height: 40px;
    font-size: 1.2rem;
    color: #444;
    transition: all 0.3s ease;
}

.social-login a:hover {
    background-color: #ddd;
}

.social-login .facebook{
    color: #2f80ed;
}

.social-login .github{
    color: #000000;
}

.social-login .google{
   
    color: #EA4335;

}