.container {
    max-width: 700px;
    background-color: #f8f9fa; 
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  h2 {
    font-size: 1.75rem;
    color: #00246B; 
    text-align: center;
    margin-bottom: 20px;
  }
  
  input.form-control {
    border: 2px solid #adb5bd; 
    border-radius: 6px;
    padding: 10px;
    transition: border-color 0.3s ease;
  }
  
  input.form-control:focus {
    border-color: #7091E6;
    box-shadow: none;
  }
  
  .text-danger {
    font-size: 0.875rem;
    margin-top: 5px;
    font-weight: 500;
  }
  
  .btn {
    background-color: #00246B;
    border-color: #00246B;
    padding: 12px 20px;
    font-size: 1rem;
    width: 100%;
  }  


  .btn-primary:hover {
    background-color: #3d52a0;
  }
  
  .text-danger {
    font-size: 14px;
    color: red;
  }
  
  .alert-success {
    font-size: 16px;
    font-weight: bold;
  }
  
  @media (max-width: 768px) {
    .container {
      padding: 10px;
    }
    
    .btn-primary {
      width: 100%;
    }
  }