.wrapper{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    /* justify-content: center; */
}
.example-sidenav{
    width: 200px;
    background-color: rgb(79, 78, 78);
    color: white;
    height: 100vh;

}
.example-main
{
    background-color: rgb(156, 194, 172);
    color: white;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.example-icon{
    color: white;
    background-color: rgb(84, 131, 172);
}
